<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:include="_template :: head"></head>

<body>

	<h1>Walle</h1>

	<main class="home">
        <div class="left">
            <h2>Walle</h2>
            <p>Cadastrar os comerciantes e seus produtos! </p>

            <div class="buttons">

                <a href="/login" class="button primary">
                    <span class="material-icons"> login </span>
                    <span th:text="#{label.login}"></span>
                </a>

                <a href="/user/new" class="button">
                    <span class="material-icons"> person </span>
                    <span th:text="#{label.register}"></span>
                </a>
            </div>
        </div>

        <aside class="right">
            <img alt="" th:src="@{~/images/img.jpg}">
        </aside>



    </main>









</body>
</html>